.card{
    
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
}
.share{
    padding: 10px;
}

.grid{
    display:flex;
    justify-content: space-between;
}
.post{
    color:blue;
}