.card{
    
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
}
.share{
    padding: 10px;
}

.grid{
    display:flex;
    justify-content: space-between;
}

.post{
    color:rgb(28, 81, 145);
}
.usernameAndDate{
    display:-webkit-box;;
    
}
.posttext {
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  }
  .date{
      margin-left: 20px;
      color: black;
      font-size: small;
  }
  